body{
    font-family: Verdana, sans-serif;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.row > .column{
    padding: 0 8px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 25%;
}

.mySlides{
    display: none;
}

.cursor{
    cursor: pointer;
}


.button{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ff9999;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height:60px;
    width:100px;
    margin: 350px -50px;
    position:relative;
    top:50%;
    left:50%;
}

.button:hover{
    background-color: #ff8080
}


.button:active{
    background-color: #ff8080;
    box-shadow: 0 5px #666;
    transform: translateY(4px);


}
a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

/*GAMEPAGE STYLESHEET*/

.button {
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: #AD1457;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height:60px;
    width:100px;
    margin: 50px -50px;
    position:relative;
    top:50%;
    left:50%;
}

.button:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: #AD1457;
}

h1{
    font-size: 250%;
    color: #AD1457;
    font-family: Georgia, serif;
    text-align: center;
}

h2{
    font-size: 100%;
    color: steelblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

p{
    font-size: 30px;
    color: #666666;
    font-family: Arial, Helvetica, SansSerif;
}

.grid-container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px 400px 400px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;

}

.grid-container div{
    border: 2px #AD1457 solid;
    border-radius: 25px;
}