/*HOMEPAGE STYLESHEET*/
body{
    font-family: Verdana, sans-serif;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.row > .column{
    padding: 0 8px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column{
    float: left;
    width: 25%;
}

.mySlides{
    display: none;
}

.cursor{
    cursor: pointer;
}

.button1{
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #ff9999;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height:60px;
    width:100px;
    margin: 350px -50px;
    position:relative;
    top:50%;
    left:50%;
}

.button:hover{
    background-color: #ff8080
}

.button:active{
    background-color: #ff8080;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: initial;
}

/*GAMEPAGE STYLESHEET*/

.button2{
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: powderblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    height:60px;
    width:100px;
    margin: 50px -50px;
    position:relative;
    top:50%;
    left:50%;
}

.button:active{
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    text-decoration: none;
    color: #AD1457;
}

h1{
    font-size: 400%;
    color: #AD1457;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
}

h2{
    font-size: 250%;
    color: powderblue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    font-size: 30px;
    color: #666666;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container{
    display: grid;
    justify-content: center;
    /*align-items: center;*/    /*weirdly flattens the circle outlines*/
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;

}

.grid-container div{
    /*border: 2px #AD1457 solid;*/
    border-radius: 150px;
    text-align: center;
    /*background: rgba(173, 20, 87, 1);  !*makes the circles semi-transparent*!*/
}

.pinkCircles{
    background: rgba(173, 20, 87, 1);
    /*border: 2px #AD1457 solid;*/
}

.mintCircles{
    background: rgba(176,224,230, 1);
}

.header{
    padding: 10px 16px;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    position: absolute;
    width: 100%;
}

body{
   background-color: white;
}

body, html {
    height: 100%;
    margin: 0;
}

.backgroundImage {
    background-image: url("Images/Discover.jpg");
    height: 100%;      /*changes how much of image shows between header and div*/
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    z-index: -1;    /*scrolls the div scroll over the background image*/
}